body {
	unicode-bidi: embed;
	direction: rtl;
}

blockquote {
	padding-right: 1.25em;
	padding-left: 0;
	border-right: 4px solid #303030;
	border-left: none;
}

ul,
ol {
	padding: 0 1.25em 0 0;
}

li > ul,
li > ol {
	margin-right: 1.5em;
	margin-left: 0;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	right: 5px;
	left: auto;
}

.alignleft {
	float: right;
	margin-right: 0;
	margin-left: 1.5em;
}

.alignright {
	float: left;
	margin-right: 1.5em;
	margin-left: 0;
}

.aligncenter {
	margin-right: 0;
	margin-right: auto;
	margin-left: 0;
	margin-left: auto;
}

.content-area {
	order: 2;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
}

.sidebar {
	order: 1;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
}

.main-navigation-menu > .menu-item-has-children > a .icon {
	margin: 0.6em 0.4em 0 0;
}

.main-navigation-menu ul .menu-item-has-children > a .icon {
	margin: 0.5em 0.4em 0 0;
	transform: rotate(-270deg);
}

.main-navigation-menu li ul ul {
	right: 100%;
	left: auto;
}

.widget ul .children,
.widget ul .sub-menu {
	margin: 0.5em 1em 0.5em 0;
}

.search-form .search-field {
	padding: 0.5em 0.7em 0.5em 1.5em;
}

.search-form .search-submit {
	right: auto;
	left: 3px;
}

.widget-magazine-posts .small-post .post-content {
	padding-right: 1em;
	padding-left: 0;
}

.widget-magazine-posts .magazine-grid {
	margin-right: 0;
	margin-left: -2em;
}

.widget-magazine-posts .magazine-grid-two-columns .post-column {
	padding-right: 0;
	padding-left: 2em;
}

.widget-magazine-posts .magazine-grid-three-columns .post-column {
	padding-right: 0;
	padding-left: 2em;
}

.widget-magazine-posts-columns .magazine-posts-column-left {
	padding-right: 0;
	padding-left: 1em;
}

.widget-magazine-posts-columns .magazine-posts-column-right {
	padding-right: 1em;
	padding-left: 0;
}

.post-navigation .nav-links .nav-previous {
	float: right;
	padding-right: 0;
	padding-left: 0.5em;
}

.post-navigation .nav-links .nav-next {
	float: left;
	padding-right: 0.5em;
	padding-left: 0;
}

.post-navigation .nav-links .nav-previous .nav-link-text:before {
	margin-right: 0;
	margin-left: 3px;
}

.post-navigation .nav-links .nav-next .nav-link-text:after {
	margin-right: 4px;
	margin-left: 0;
}

.infinite-scroll .infinite-loader .spinner {
	right: auto;
	left: auto;
}

.breadcrumbs .trail-browse {
	margin-right: 0;
	margin-left: 0.5em;
}

.featured-posts {
	margin-right: 0;
	margin-left: -2.5em;
}

.featured-posts .featured-large-post {
	padding-right: 0;
	padding-left: 1.25em;
}

.featured-posts .featured-grid-posts {
	padding-right: 1.25em;
	padding-left: 0;
}

.featured-posts .featured-grid-posts .featured-small-post {
	padding-right: 0;
	padding-left: 2.5em;
}

.comment-meta {
	float: right;
}

.comment-meta .comment-author img {
	float: right;
	margin-right: 0;
	margin-left: 1em;
}

.comment-meta .comment-metadata a {
	margin-right: 0;
	margin-left: 1em;
}

.comment-content {
	clear: right;
}

.comment-navigation .nav-previous {
	float: right;
}

.comment-navigation .nav-next {
	float: left;
}

.comment-navigation .nav-previous a:before {
	margin-right: 0;
	margin-left: 3px;
}

.comment-navigation .nav-next a:after {
	margin-right: 4px;
	margin-left: 0;
}

.comment-reply-title small a {
	margin-right: 1em;
	margin-left: 0;
}

@media only screen and (max-width: 80em) {
	.featured-posts {
		margin-right: 0;
		margin-left: -2em;
	}

	.featured-posts .featured-large-post {
		padding-right: 0;
		padding-left: 1em;
	}

	.featured-posts .featured-grid-posts {
		padding-right: 1em;
		padding-left: 0;
	}

	.featured-posts .featured-grid-posts .featured-small-post {
		padding-right: 0;
		padding-left: 2em;
	}
}

@media only screen and (max-width: 57.5em) {
	.main-navigation-menu ul {
		right: auto;
		left: auto;
	}

	.main-navigation-menu li ul ul {
		right: auto;
		left: auto;
	}

	.main-navigation-toggle .icon {
		margin: 0.25em 0 0 0.6em;
	}

	.main-navigation-menu .submenu-dropdown-toggle.active .icon {
		transform: rotate(-180deg);
	}

	.featured-posts .featured-large-post {
		padding: 0 0 0 2em;
	}
}

@media only screen and (max-width: 40em) {
	.widget-magazine-posts .magazine-grid {
		margin-right: 0;
		margin-left: 0;
	}

	.widget-magazine-posts .magazine-grid .post-column {
		padding-right: 0;
		padding-left: 0;
	}

	.widget-magazine-posts .medium-post .post-content {
		padding-right: 1.5em;
		padding-left: 0;
	}

	.widget-magazine-posts-columns .widget-magazine-posts-content {
		margin-right: 0;
		margin-left: 0;
	}

	.widget-magazine-posts-columns .magazine-posts-column-left {
		padding-right: 0;
		padding-left: 0;
	}

	.widget-magazine-posts-columns .magazine-posts-column-right {
		padding-right: 0;
		padding-left: 0;
	}

	.featured-posts {
		margin-right: 0;
		margin-left: -1.5em;
	}

	.featured-posts .featured-large-post {
		padding-right: 0;
		padding-left: 1.5em;
	}

	.featured-posts .featured-grid-posts .featured-small-post {
		padding-right: 0;
		padding-left: 1.5em;
	}
}

.sidebar-left .content-area {
	order: 1;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
}

.sidebar-left .sidebar {
	order: 2;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
	@media {
		.content-area,
		.sidebar,
		.featured-posts .featured-large-post,
		.featured-posts .featured-grid-posts,
		.featured-posts .featured-grid-posts .featured-small-post,
		.widget-magazine-posts .magazine-grid-two-columns .post-column,
		.widget-magazine-posts .magazine-grid-three-columns .post-column,
		.widget-magazine-posts .small-post .wp-post-image,
		.widget-magazine-posts .small-post .post-content,
		.widget-magazine-posts-columns .magazine-posts-column-left,
		.widget-magazine-posts-columns .magazine-posts-column-right,
		.widget-magazine-posts .medium-post .wp-post-image-link,
		.widget-magazine-posts .medium-post .post-content {
			margin-right: 0;
			margin-left: -1px;
		}
	}
}

@media not all and (min-resolution:.001dpcm) {
	@media {
		.content-area,
		.sidebar,
		.featured-posts .featured-large-post,
		.featured-posts .featured-grid-posts,
		.featured-posts .featured-grid-posts .featured-small-post,
		.widget-magazine-posts .magazine-grid-two-columns .post-column,
		.widget-magazine-posts .magazine-grid-three-columns .post-column,
		.widget-magazine-posts .small-post .wp-post-image,
		.widget-magazine-posts .small-post .post-content,
		.widget-magazine-posts-columns .magazine-posts-column-left,
		.widget-magazine-posts-columns .magazine-posts-column-right,
		.widget-magazine-posts .medium-post .wp-post-image-link,
		.widget-magazine-posts .medium-post .post-content {
			margin-right: 0;
			margin-left: -1px;
		}
	}
}

.magazine-widgets-placeholder .magazine-widgets-placeholder-title {
	padding: 1em 55px 1em 1em;
}

.magazine-widgets-placeholder .customize-partial-edit-shortcut button {
	right: 15px;
	left: auto;
}

.customize-partial-edit-shortcut-chronus_theme_options-blog_description,
.customize-partial-edit-shortcut-chronus_blog_layout_partial {
	right: -9999px;
	left: auto;
}

.related-posts-list li .wp-post-image {
	float: right;
	margin: 0 0 0 1em;
}

.related-posts-columns {
	margin-right: 0;
	margin-left: -1em;
}

.related-posts-columns .related-post-column {
	float: right;
	padding-right: 0;
	padding-left: 2em;
}

.related-posts-two-columns .related-post-column:nth-child(2n + 1) {
	clear: right;
}

.related-posts-three-columns .related-post-column:nth-child(3n + 1) {
	clear: right;
}

.related-posts-four-columns .related-post-column:nth-child(4n + 1) {
	clear: right;
}

@media only screen and (max-width: 50em) {
	.related-posts-four-columns .related-post-column:nth-child(2n + 1) {
		clear: right;
	}
}

@media only screen and (max-width: 35em) {
	.related-posts-three-columns .related-post-column {
		padding-right: 0;
		padding-left: 0;
	}

}

@media only screen and (max-width: 25em) {
	.related-posts-two-columns .related-post-column,
	.related-posts-four-columns .related-post-column {
		padding-right: 0;
		padding-left: 0;
	}

}

.tzwb-posts-list .wp-post-image {
	float: right;
	margin: 0.4em 0 0.4em 0.8em;
}

.tzwb-posts-list .tzwb-entry-meta span {
	margin-right: 0;
	margin-left: 1em;
}

.tzwb-comments-list .avatar {
	float: right;
	margin: 0.2em 0 0.2em 0.8em;
}

.tzwb-tabbed-content .tzwb-tabnavi {
	float: right;
}

.tzwb-tabbed-content .tzwb-tabnavi li {
	float: right;
	margin: 0 0 5px 5px;
}

.tzwb-social-icons .social-icons-menu li {
	float: right;
}

.tzwb-social-icons .social-icons-menu li a {
	margin: 0 0 5px 5px;
}
